body {

font-family: sans-serif;

margin: 0;

padding: 0;

background-color: #f4f4f4;

color: #333;

}



header {

  background-color: #7c3aed;

  color: white;

  padding: 1rem 0;

  width: 100%;

  position: fixed;

}



nav {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 0 2rem;

}



.logo {

  font-size: 1.5rem;

  font-weight: bold;

}



nav ul {

  list-style: none;

  margin: 0;

  padding: 0;

  display: flex;

}



nav ul li a {

  display: block;

  color: white;

  text-decoration: none;

  padding: 0.5rem 1rem;

  border-radius: 5px;

  transition: background-color 0.3s ease;

}



nav ul li a:hover {

  background-color: rgba(255, 255, 255, 0.1);

}



.hero {

  background: linear-gradient(135deg, #7c3aed 0%, #a855f7 100%);

  color: white;

  padding: 5rem 2rem;

  display: flex;

  justify-content: space-around;

  align-items: center;

}



.hero-content {

  text-align: left;

  max-width: 600px;

}



.hero-content h1 {

  font-size: 3rem;

  margin-bottom: 0.5rem;

}



.hero-content .subtitle {

  font-size: 1.2rem;

  margin-bottom: 1.5rem;

}



.hero-buttons a {

  padding: 1em;

  border-radius: 5px;

  border: none;

  cursor: pointer;

  font-size: 1rem;

  transition: transform 0.2s ease;

  margin-right: 1rem;

  background-color: #9328f6;

}



.hero-buttons a.primary-button {

  text-decoration: none;

  color: white;

}



.primary-button:hover {

  background-color: #d8b4fe;

}



.hero-buttons a.secondary-button {

  text-decoration: none;

  color: white;

}



.secondary-button:hover {

  background-color: #d8b4fe;

}



.hero-image .avatar {

  width: 250px;

  height: 250px;

  color: white;

  background-color: #333;

  border-radius: 50%;

}

.avatar img{

  width: 100%;

  height: 100%;

  border-radius: 50%;

  object-fit: cover;

}



.about-me {

  padding: 4rem 2rem;

  background-color: white;

}



.about-me h2 {

  text-align: center;

  margin-bottom: 2rem;

  font-size: 2.5rem;

  color: #7c3aed;

}



.about-content {

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 3rem;

  flex-wrap: wrap;

}



.about-text {



}



.about-text h3 {

  font-size: 1.8rem;

  margin-bottom: 1rem;

  color: #4c1d95;

}



.about-text p {

  margin-bottom: 1rem;

  line-height: 1.6;

}



.badges {

  display: flex;

  flex-wrap: wrap;

  justify-content: left;

  gap: 0.4em;

}



.badge {

  background-color: #7c3aed;

  color: white;

  padding: 0.5em;

  border-radius: 20px;

  margin-right: 0.5rem;

  font-size: 0.9rem;

}



.my-projects {

  padding: 4rem 2rem;

  background-color: #f9f9f9;

}



.my-projects h2 {

  text-align: center;

  margin-bottom: 2rem;

  font-size: 2.5rem;

  color: #7c3aed;

}



.projects-grid {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  gap: 2rem;

}



.project-card {

  background-color: white;

  border-radius: 10px;

  padding: 1.5rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  display: flex;

  flex-direction: column;

  justify-content: space-between;

}



.project-icon {

  font-size: 2rem;

  color: #7c3aed;

  margin-bottom: 1rem;

}



.project-card h3 {

  margin-bottom: 0.5rem;

  color: #4c1d95;

}



.project-card p {

  flex-grow: 1;

  margin-bottom: 1rem;

  line-height: 1.4;

}



.tech-stack {

  margin-bottom: 1rem;

  display: flex;

  flex-wrap: wrap;

  justify-content: left;

  gap: 0.4em;

}



.tech-badge {

  background-color: #a855f7;

  color: white;

  padding: 0.5em 1em;

  border-radius: 15px;

  font-size: 0.8rem;

}



.project-links a {

  text-decoration: none;

  color: #7c3aed;

  font-weight: bold;

  margin-right: 1rem;

  transition: color 0.3s ease;

}



.project-links a:hover {

  color: #a855f7;

}



.my-skills {

  padding: 4rem 2rem;

  background-color: white;

}



.my-skills h2 {

  text-align: center;

  margin-bottom: 2rem;

  font-size: 2.5rem;

  color: #7c3aed;

}



.skills-container {

  display: block;

}



.technical-skills{

  display: flex;

  flex-wrap: wrap;

  justify-content: left;

  gap: 0.4em;

}

.technical-skills span{

  background-color: #2302ca;

  color: white;

  font-size: 1em;

  border-radius: 20px;

  padding: 0.5em;

}



.soft-skills {

  flex: 1 1 300px;

}



.skills-container h3,

.soft-skills h3 {

  margin-bottom: 1rem;

  color: #f6f4f8;

}



.skill-item {

  margin-bottom: 1rem;

}



.skill-card {

  background-color: #f9f9f9;

  border-radius: 10px;

  padding: 1rem;

  margin-bottom: 1rem;

  display: flex;

  align-items: center;

  gap: 1rem;

}



.skill-icon i.fas {

  font-size: 2rem;

  color: #eff7c8;

}



.skill-card h4 {

  margin: 0;

  color: #e6f3bb;

}



.skill-card p {

  margin: 0;

  font-size: 0.9rem;

  color: #555;

}



.contact-me {

  background-color: #f9f9f9;

}



.contact-me h2 {

  text-align: center;

  margin-bottom: 2rem;

  font-size: 2.5rem;

  color: #7c3aed;

}



.contact-container {

  display: flex;

  justify-content: center;

  gap: 3rem;

  flex-wrap: wrap;

}



.contact-info {

  flex: 1 1 300px;

  background-color: white;

  border-radius: 10px;

  padding: 2rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}



.info-item {

  display: flex;

  align-items: center;

  gap: 1rem;

  margin-bottom: 1rem;

}



.project-icon i.fas,

.skill-icon i.fas,

.social-links a .fab,

.footer-social a i.fab {

  font-size: 1.5em;

  color: #96d8f4;

  vertical-align: middle;

}



.info-item p {

  margin: 0;

}



.info-item .detail {

  font-weight: bold;

}



.social-links {

  margin-top: 2rem;

  display: flex;

  gap: 1rem;

}



.social-links a {

  color: #7328f6;

  font-size: 1.5rem;

  transition: color 0.3s ease;

  margin-left: 1em;

}



.social-links a:hover {

  color: #a855f7;

}



.contact-form {

  flex: 1 1 300px;

  background-color: white;

  border-radius: 10px;

  padding: 2rem;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}



.contact-form h3 {

  margin-top: 0;

  margin-bottom: 1rem;

  color: #4c1d95;

}



.form-group {

  margin-bottom: 1rem;

  display: flex;

  flex-direction: column;

}



.form-group label {

  margin-bottom: 0.3rem;

  font-weight: bold;

}



.form-group input,

.form-group textarea {

  padding: 0.5rem;

  border: 1px solid #ccc;

  border-radius: 5px;

  font-size: 1rem;

  resize: vertical;

}



.primary-button {

  background-color: #4a596e;

  color: white;

  border: none;

  padding: 0.75rem 1.5rem;

  border-radius: 5px;

  cursor: pointer;

  font-size: 1rem;

  transition: background-color 0.3s ease;

}



.primary-button:hover {

  background-color: #a855f7;

}





footer {

  background-color: #7c3aed;

  color: white;

  padding: 2rem 1rem;

  text-align: center;

}



.footer-content {

  max-width: 900px;

  margin: 0 auto;

}



.footer-info h3 {

  margin: 0;

  font-size: 1.5rem;

}



.footer-info .subtitle {

  margin: 0.5rem 0 1rem 0;

  font-size: 1rem;

}



.footer-social a {

  text-decoration: none;

  margin: 2em;

}

.footer-social a i.fab{

  color: white;

}



.footer-social a i.fab:hover {

  color: #bff412;

  background-color: rgba(255, 255, 255, 0.3);

}



.copyright {

  margin-top: 1rem;

  font-size: 0.9rem;

}



.footer-links a {

  color: white;

  margin: 0 0.5rem;

  text-decoration: none;

  font-size: 0.9rem;

  transition: text-decoration 0.3s ease;

}



.footer-links a:hover {

  text-decoration: underline;

}



.nav-toggle{

  visibility: hidden;

}



/* Existing media query for max-width 768px */

@media (max-width: 768px) {

  .hero {

    flex-direction: column-reverse;

    text-align: center;

  }



  .hero-content {

    max-width: 100%;

  }



  .hero-buttons button {

    margin-bottom: 1rem;

    width: 100%;

  }



  .about-content {

    flex-direction: column;

  }



  .projects-grid {

    grid-template-columns: 1fr;

  }



  .skills-container {

    flex-direction: column;

  }



  .contact-container {

    flex-direction: column;

    padding: 0;

  }



  .contact-info,

  .contact-form {

    max-width: 100%;

    padding-left: 1rem;

    padding-right: 1rem;

    box-sizing: border-box;

  }

  .info-item i.fas, .social-links a i.fab{

    font-size: 1em;

  }

  .social-links{

    display: flex;

    align-items: center;

  }



  /* Mobile navigation styles */

  nav ul.nav-links {

    display: none;

    flex-direction: column;

    width: 100%;

    background-color: #7c3aed;

    position: absolute;

    top: 60px;

    left: 0;

    padding: 0;

    margin: 0;

    border-radius: 0 0 10px 10px;

    z-index: 1000;

  }



  nav ul.nav-links.nav-links-visible {

    display: flex;

  }



  nav ul.nav-links li {

    text-align: center;

    margin: 0;

  }



  nav ul.nav-links li a {

    padding: 1rem;

    display: block;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  }



  nav ul.nav-links li a:hover {

    background-color: rgba(255, 255, 255, 0.2);

  }



  .nav-toggle {

    display: block;

    background: none;

    border: none;

    color: white;

    font-size: 1.5rem;

    cursor: pointer;

    visibility: visible;

  }

  .skill-card .skill-icon i.fas{

    font-size: 1em;

  }



  /* Adjust logo and nav alignment */

  nav {

    position: relative;

  }



  /* Adjust font sizes for better readability */

  .hero-content h1 {

    font-size: 2rem;

  }



  .hero-content .subtitle {

    font-size: 1rem;

  }

  .hero-buttons{

    display: flex;

  }



  .about-me h2,

  .my-projects h2,

  .my-skills h2,

  .contact-me h2 {

    font-size: 2rem;

  }



  .project-card h3,

  .about-text h3,

  .technical-skills h3,

  .soft-skills h3,

  .contact-info h3,

  .contact-form h3 {

    font-size: 1.2rem;

  }



  /* Make buttons larger and full width */

  .primary-button,

  .secondary-button {

    font-size: 1.1rem;

    padding: 1rem;

    width: 100%;

    margin-bottom: 1rem;

  }



  /* Adjust avatar size */

  .hero-image .avatar {

    width: 100px;

    height: 100px;

  }

}

@media (prefers-color-scheme: dark) {

  body{

    color: white;

    background-color: #1e293b;

  }



  header {

    background-color: #1e293b;

    color: #f8fafc;

  }



  nav ul li a {

    color: #f8fafc;

  }



  .hero {

    background: linear-gradient(135deg, #11294d 0%, #c4c4ce 100%);

    color: #f8fafc;

  }



  .hero-buttons a {

  background-color: #1E293B;

}



  .about-me {

    background-color: #1e293b;

    color: #f8fafc;

  }



  .about-me h2 {

    color: #f8fafc;

  }



  .about-text h3 {

    color: #cbd5e1;

  }



  .about-text p {

    color: #cbd5e1;

  }



  .badge {

  background-color: 	#3B3C71;

  color: white;

}



  .my-projects {

    background-color: #1e293b;

    color: #f8fafc;

  }



  .my-projects h2 {

    color: #f8fafc;

  }

  .project-icon i.fas, i.fab{

    color: whitesmoke;

  }



  .project-card {

    background-color: #334155;

    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

  }



  .project-card h3 {

    color: #cbd5e1;

  }



  .project-card p {

    color: #cbd5e1;

  }

  .tech-badge{

    background-color: #4b5563;

  }

  .project-card a{

    color: #ac9dfb;

  }



  .my-skills {

    background-color: #1e293b;

    color: #f8fafc;

  }



  .my-skills h2 {

    color: #f8fafc;

  }



  .skill-card {

    background-color: #334155;

  }



  .skill-card h4 {

    color: #cbd5e1;

  }



  .skill-card p {

    color: #cbd5e1;

  }



  .contact-me {

    background-color: #1e293b;

    color: #f8fafc;

  }



  .contact-me h2 {

    color: #f8fafc;

  }



  .contact-info {

    background-color: #334155;

    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

  }



  .contact-form {

    background-color: #334155;

    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

  }



  .contact-form h3 {

    color: #cbd5e1;

  }



  .form-group label {

    color: #f8fafc;

  }



  .form-group input,

  .form-group textarea {

    background-color: #4b5563;

    color: #f8fafc;

    border: 1px solid #6b7280;

  }



  footer {

    background-color: #1e293b;

    color: #f8fafc;

  }



.technical-skills span {

  background-color: #a17204;

  color: #f9fafc;

}



span {

  background-color: #334155;

  color: #cbd5e1;

}



body {

  color: white;

  background-color: #1e293b;

}



header {

  background-color: #1e293b;

  color: #f8fafc;

}



nav ul li a {

  color: #f8fafc;

}



.hero {

  background: linear-gradient(135deg, #11294d 0%, #c4c4ce 100%);

  color: #f8fafc;

}



.hero-buttons a {

  background-color: #1E293B;

}



.about-me {

  background-color: #1e293b;

  color: #f8fafc;

}



.about-me h2 {

  color: #f8fafc;

}



.about-text h3 {

  color: #cbd5e1;

}



.about-text p {

  color: #cbd5e1;

}



.badge {

  background-color: #3B3C71;

  color: white;

}



.my-projects {

  background-color: #1e293b;

  color: #f8fafc;

}



.my-projects h2 {

  color: #f8fafc;

}



.project-icon i.fas,

i.fab {

  color: whitesmoke;

}



.project-card {

  background-color: #334155;

  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

}



.project-card h3 {

  color: #cbd5e1;

}



.project-card p {

  color: #cbd5e1;

}



.tech-badge {

  background-color: #4b5563;

}



.project-card a {

  color: #ac9dfb;

}



.my-skills {

  background-color: #1e293b;

  color: #f8fafc;

}



.my-skills h2 {

  color: #f8fafc;

}



.skill-card {

  background-color: #334155;

}



.skill-card h4 {

  color: #cbd5e1;

}



.skill-card p {

  color: #cbd5e1;

}



.contact-me {

  background-color: #1e293b;

  color: #f8fafc;

}



.contact-me h2 {

  color: #f8fafc;

}



.contact-info {

  background-color: #334155;

  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

}



.contact-form {

  background-color: #334155;

  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);

}



.contact-form h3 {

  color: #cbd5e1;

}



.form-group label {

  color: #f8fafc;

}



.form-group input,

.form-group textarea {

  background-color: #4b5563;

  color: #f8fafc;

  border: 1px solid #6b7280;

}



footer {

  background-color: #1e293b;

  color: #f8fafc;

}
}
